@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

::selection {
  background: tomato;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  
  padding: 0;
  background: linear-gradient(to bottom, #222, rgb(253, 130, 108));
}

button,
input,
textarea {
  outline: none;
}

button {
  padding: .5rem;

  font-weight: bold;

  border: none;
  cursor: pointer;
  transition: all .16s;
}

.app-header {
  height: 4rem;

  display: flex;
  align-items: center;
  padding: 0 2rem;

  background: #222;
  box-shadow: 0 0 5px #222;
}

.app-header img {
  height: 3rem;
}

#root {
  min-height: 100vh;
  /* width: 100vw; */

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fighters {
  position: relative;

  padding: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 180px);
  gap: 1.5rem;
}

.fighters-startFight {
  grid-column: 1 / -1;

  justify-self: center;

  height: 3rem;
  width: 9rem;

  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;


  background: transparent;
  border-radius: 1rem;
  border: solid 2px #fff;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.3);
}


.fighters-startFight:hover {
  color: rgb(253, 130, 108);
  background: #fff;
}

.fighter {
  position: relative;
  z-index: 50;

  display: grid;
  grid-auto-flow: row;
  row-gap: 2rem;
  padding: 2rem 1.2rem 1.8rem;
  overflow: hidden;

  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.95);
  transition: box-shadow .16s, background-color .16s;
}

.fighter:hover {
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.fighter::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;

  box-shadow: unset;
  transition: all .16s;
}

.fighter--selected::before {
  background: indigo;
  box-shadow: 0 -1px 15px indigo;
}

.fighter-image {
  justify-self: center;
  align-self: end;
  max-height: 180px;
  max-width: 100%;
}

.fighter-name {
  position: relative;
  align-self: center;

  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(201, 154, 146);
}

.fighter-name::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  width: 25%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.fighter-stats {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fighter-edit {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  padding: .25rem;

  color: #fff;

  background: rgba(255, 99, 71, 0.6);
  box-shadow: 0 0 5px rgba(255, 99, 71, 0.6);
  opacity: 0;
  transition: opacity .16s;
}

.fighter-edit:hover {
  background: rgba(255, 99, 71, 0.7);
}

.fighter:hover .fighter-edit {
  opacity: 1;

  transition: opacity .16s .66s;
}

.arena {
  position: relative;

  display: grid;  
  grid-template-columns: 1fr 300px 1fr 300px 1fr ;
  padding: 2rem;
}

.arena > .fighter {
  grid-column: 2;
}

.arena .fighter-image {
  max-height: 300px;
}

.arena > .fighter:last-of-type {
  grid-column: -3;
}

.arena > .fighter:last-of-type > .fighter-image {
  transform: scale(-1, 1);
}

.finishSplash {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 5rem;
  text-shadow: 1px 1px 3px tomato;
}

